html, body {
  height: 100%;
}
body {
  margin: 0;
  background: linear-gradient(160deg, #009ee3 0%,#5e4e9c 100%);
  font-family: 'zapfino';
}
#carousel {
  /*height: 70%;
  width: 80%;*/
  margin: auto;
}
#carousel * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}
