{
    "ecmaFeatures": {
        "arrowFunctions": true,
        "binaryLiterals": true,
        "blockBindings": true,
        "defaultParams": true,
        "forOf": true,
        "generators": true,
        "objectLiteralComputedProperties": true,
        "objectLiteralDuplicateProperties": true,
        "objectLiteralShorthandMethods": true,
        "objectLiteralShorthandProperties": true,
        "octalLiterals": true,
        "regexUFlag": true,
        "regexYFlag": true,
        "superInFunctions": true,
        "templateStrings": true,
        "unicodeCodePointEscapes": true,
        "globalReturn": true,
        "jsx": true
    },
    "env": {
      "node": true,
      "browser": true,
    },
    "rules": {
        "no-cond-assign": [2, "except-parens"],
        "no-console": 1,
        "no-constant-condition": 1,
        "no-control-regex": 1,
        "no-debugger": 1,
        "no-dupe-keys": 0,
        "no-empty": 0,
        "no-extra-boolean-cast": 1,
        "no-extra-parens": 1,
        "no-extra-semi": 1,
        "no-inner-declarations": 0,
        "no-regex-spaces": 1,
        "valid-typeof": 1,
        "block-scoped-var": 2,
        "consistent-return": 2,
        "curly": [2, "multi-line"],
        "default-case": 2,
        "dot-notation": 1,
        "guard-for-in": 2,
        "no-alert": 1,
        "no-div-regex": 1,
        "no-else-return": 2,
        "no-floating-decimal": 1,
        "no-self-compare": 1,
        "no-throw-literal": 2,
        "no-void": 1,
        "no-warning-comments": 1,
        "radix": 2,
        "yoda": [2, "never", { "exceptRange": true }],
        "strict": [2, "global"],
        "no-catch-shadow": 2,
        "quotes": [1, "single"],
        "no-var": 2
    }
}